Job Application Filter.json
{
  "name": "Job Application Filter",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6716b054-460d-4cea-8f76-3e962dab9760",
              "name": "candidate_name",
              "value": "moni",
              "type": "string"
            },
            {
              "id": "cdecb7af-f8b5-4ae8-bd08-2678484ca7d7",
              "name": "=age",
              "value": "=17",
              "type": "number"
            },
            {
              "id": "baa6d188-95be-49ff-8364-c66a3e01bc17",
              "name": "qualification",
              "value": "Engineering",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -32
      ],
      "id": "aa46a551-b216-4354-8058-ea337de7df1b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab1bd8c4-a867-4c83-a0e0-ceef4676fda3",
              "leftValue": "={{ $json.age }}",
              "rightValue": "={{ 18 }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        -32
      ],
      "id": "893d9c33-a92d-45cd-9030-d315161a3fac",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee701ba0-f6a0-4427-80c0-53d82b7e3736",
              "name": "candidate_name",
              "value": "Application Accepted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -80
      ],
      "id": "93fed28d-f710-4466-9310-ef969499d5b6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "221df8e3-afa2-4677-b33b-8ace80362f28",
              "name": "candidate_name",
              "value": "Application Rejected",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        64
      ],
      "id": "1dfa228b-4ac5-43ac-8a7c-e9afaca8fea6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -32
      ],
      "id": "928e3586-f2e4-44f3-bcd2-a9cb758de918",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "474d00e1-6f82-465c-b059-ba4b22f90a04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d80c2718d71dcb67f863dc48084433d23332af682ac3c4d9ddced8fa6a7d62c4"
  },
  "id": "Aex13XLlZytcnlcV",
  "tags": []
}