Telegram AI Image (1).json
{
  "name": "Telegram AI Image",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Create a professional marketing caption (max 500 characters) for the product:\n{{$json.user_input}}\n\nInclude:\n- Offer: Flat 30% OFF\n- Tone: Trendy but professional\n- Add 3–5 hashtags\n- No emojis overload"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        64,
        -16
      ],
      "id": "46068646-04f9-4f50-946d-033c100dcdfd",
      "name": "Caption",
      "credentials": {
        "openAiApi": {
          "id": "UY3Czs9fSCh2m0VC",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Create a modern Instagram marketing image for \n{{ $json.output[0].content[0].text }} .\nStyle: clean, attractive.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        400,
        -16
      ],
      "id": "89eab25c-99f3-4862-a485-676901b15af3",
      "name": "Image",
      "credentials": {
        "openAiApi": {
          "id": "UY3Czs9fSCh2m0VC",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        0
      ],
      "id": "391b22e3-21c7-44a5-ba91-487ff038c6d0",
      "name": "Telegram Trigger",
      "webhookId": "ab67a3ab-94a8-4ee2-a028-5c7e1a5195ba",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "IJNY8LLrq4V7EfOu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80dd77f7-69e8-4f9d-a7b0-6dcbb2b1c3b4",
              "name": "user_input",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "6d46c8d6-218b-45be-8206-d1a615a1a896",
              "name": "chat_id",
              "value": "={{ $json.message.chat }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        0
      ],
      "id": "9a72b196-e75c-4de2-b253-dd25de9ed0e5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1457ac23-3252-44f7-878a-b1e773c60c19",
              "leftValue": "={{ $json.user_input }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        0
      ],
      "id": "9b4db75c-15a3-4beb-b36d-ca49e23fce6a",
      "name": "condition"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003757609484",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Caption').item.json.output[0].content[0].text }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        -16
      ],
      "id": "d90342f5-2552-446d-86db-a700aa10ec4e",
      "name": "post",
      "webhookId": "a9d18011-f070-47c6-93db-a0c70b4bfabc",
      "credentials": {
        "telegramApi": {
          "id": "IJNY8LLrq4V7EfOu",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Caption": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "condition": {
      "main": [
        [
          {
            "node": "Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9f9ad37e-c515-42af-be08-4c803c460ed1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c08e7fd954a8823f4b35ed6b18709e7921fcb8b6c73304f8753851915e896b58"
  },
  "id": "OCnmRbIt3styqOLFxSVwz",
  "tags": []
}